{% extends "template.html" %}

{% block subtitle %}
Author
{% endblock %}

{% block page_content %}
<form action="/author" method="post">
    <fieldset>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="author name" required>

        <label for="birth_date">Birth Date:</label>
        <input type="date" name="birth_date" placeholder="birth date" required>

        <label for="country">Country:</label>
        <input type="text" name="country" placeholder="country" required>

        <label for="bio">Biography</label>
        <input type="text" name="bio" placeholder="biography" required>
    </fieldset>
    <button type="submit">Submit</button>
</form>
{% if message %}
<p style="color:green">{{ message }}</p>
{% endif %}
{% endblock %}