{% extends "template.html" %}

{% block page_content %}

<div class="container-fluid">
<img src="/static/images/bookshelf.jpg" class="img-fluid mx-auto d-block" alt="bookshelf" >

<section id="books">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Published</th>
                <th>Author</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            {% for book in Books %}
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.publication }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.genres }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
</div>

{% endblock %}