{% extends "template.html" %}

{% block obsah_stranky %}

<section id="authors">
    <table>
        <thead>
            <tr>
                <th>Author</th>
                <th>Birth Date</th>
                <th>Country</th>
                <th>Biography</th>
            </tr>
        </thead>
        <tbody>
            {% for autor in Authors %}
                <tr>
                    <td>{{ autor.name }}</td>
                    <td>{{ autor.birthDate }}</td>
                    <td>{{ autor.country }}</td>
                    <td>{{ autor.biography }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section id="books">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Published</th>
                <th>Author</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            {% for book in Books %}
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.publication }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.genres }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}