{% extends "sablona.html" %}

{% block podnazev %}
Kontakt
{% endblock %}

{% block obsah_stranky %}
<form action="/kontakt" method="post">
    <fieldset>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="zadej email" required>

        <label for="dotaz">Dotaz:</label>
        <input type="text" name="dotaz" placeholder="zadej dotaz" required>
    </fieldset>
    <button type="submit">Odešli dotaz</button>
</form>
{% if vzkaz %}
<p style="color:green">{{ vzkaz }}</p>
{% endif %}
{% endblock %}