<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE-edge">
    <title>Webovky | {% block podnazev %}{% endblock %}</title>
    <meta name="author" content="Vlasta">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/styl.css")}}"
</head>
<body>
    <header>
        <h1>Webovky ve Flasku</h1>
        <p>zkouška</p>
    </header>
    <nav class="">
        <ul>
            <li><a href="/">Domů</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </nav>
    <main>
        {% block obsah_stranky %}

        {% endblock %}
    </main>
    <footer>
        <p>&copy; Vlasta Michalcová, datum vydání: dneska</p>
    </footer>
</body>
</html>